.bio p {
  margin: 10px;
  padding: 15px;
  font-size: medium;

  @media (max-width: 1350px) {
    margin: 6px;
    padding: 10px;
  }
  @media (max-width: 480px) {
    margin: 1px;
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: medium;
  }
}
