.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nxowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: system-ui;
  font-size: 14px;
  letter-spacing: 0.1px;

  @media (max-width: 1350px) {
    width: 90%;
  }
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 72vh;
    /* height: auto; */
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
.mob-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nxowrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  font-family: system-ui;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.backing {
  padding: 35px 45px 35px 70px;
  /* margin-bottom: 10px; */
  border: 0.5px solid rgb(189, 189, 189);
  border-radius: 50px;
  background-color: white;
  width: 100;
  @media (max-width: 1350px) {
    padding: 35px 30px 35px 30px;
    /* margin-bottom: 10px; */
    border: 0.5px solid rgb(189, 189, 189);
    border-radius: 50px;
    background-color: white;
    width: 100;
  }
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 75vh;
    overflow-x: hidden;
    padding: 8px 5px 8px 5px;
  }
}

.wrapper h1 {
  margin: 5px;
  font-family: Amstelvar;
  letter-spacing: 1px;
  font-size: 16px;
}

.tulips {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.9;
}
