.port-contents {
  width: 90vw;
  height: 70vh;
  @media (max-width: 1350px) {
    width: 92vw;
    height: 74.25vh;
  }
}

.header {
  font-size: large;
  font-family: Amelvestra;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

.back-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  height: 25px;
  filter: invert(60%) sepia(33%) saturate(554%) hue-rotate(319deg)
    brightness(86%) contrast(80%);

  @media (max-width: 480px) {
    margin: 15px;
    font-size: medium;
  }
}
.back-btn:hover {
  filter: invert(70%) sepia(33%) saturate(554%) hue-rotate(319deg)
    brightness(50%) contrast(100%);
}

.contents {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-evenly; */
  align-items: center;
  align-content: stretch;
  /* overflow-y: hidden; */
  width: auto;
  @media (max-width: 1350px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    align-items: center;
    align-content: stretch;

    width: auto;
  }
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

    width: auto;
  }
}

.desc {
  max-width: 20vw;
  overflow-y: scroll;
  display: block;
  height: 50vh;
  padding: 5px 25px;
  position: relative;
  /* position: absolute; */
  /* top: 50%; */
  @media (max-width: 1350px) {
    max-width: 35vw;
    overflow-y: scroll;
    display: block;
    height: auto
    padding: 5px 20px;
    position: relative;
  }
  @media (max-width: 480px) {
    max-width: 65vw;
    overflow-y: hidden;
    display: block;
    height: 100%;
    padding: 5px 20px;
    position: relative;
    color: #504333;
  }
}
.contain {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.photo-container {
  max-width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow-y: scroll;
  padding: 20px;

  @media (max-width: 1350px) {
    max-width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    overflow-y: scroll;
    padding: 25px;
  }
  @media (max-width: 480px) {
    max-width: 80vw;
    height: 50vh;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch; */
    padding: 20px;
  }
}

.caption {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: small;
  /* display: inline-block; */
  width: 90%;
}

.cone {
  width: 50px;
  filter: invert(60%) sepia(33%) saturate(554%) hue-rotate(319deg)
    brightness(86%) contrast(80%);
  margin: auto;
}
