.sidebar {
  border-radius: 3px;
  border: 1px solid rgb(189, 189, 189);
  width: auto;
  height: auto;
  transform: rotate(3deg);
  box-shadow: 4px 8px 8px #dddadd;
  @media (max-width: 480px) {
    /* display: absolute; */
    width: 170px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    /* display: inline; */
  }
}
.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  font-size: 13px;
}

.picture {
  border-radius: 3px;
  margin: 25px 12px 50px 12px;
  width: 210px;
  border: 1px solid rgb(189, 189, 189);
  z-index: 3;
  position: relative;
  /* width: auto; */
  line-height: 0;
  @media (max-width: 1350px) {
    width: 200px;
    margin: 25px 12px 35px 12px;
  }
  @media (max-width: 480px) {
    /* display: inline-block; */
    width: 145px;
    /* padding: 50px; */
    margin: 25px 12px 30px 12px;
    /* display: inline; */
  }
}

img {
  height: inherit;
  width: inherit;
  line-height: 0;
  display: block;
  border-radius: 3px;
}

.title-name {
  font-family: Agatta;
  font-size: 34px;
  color: #52483f;
  transform: rotate(-2deg);
  position: absolute;
  z-index: 10;
  width: auto;
  margin-top: -18px;
  /* margin-right: -70px; */
  margin-left: -50px;
  text-shadow: 2px 2px 3px rgb(226, 189, 174);
  @media (max-width: 1350px) {
    font-size: 34px;
  }
  @media (max-width: 480px) {
    font-size: 25px;
    margin-top: 25px;
    /* margin-right: 2px; */
    margin-left: 12%;
    /* margin: auto; */
    /* padding: 20px; */
    text-shadow: 2px 2px 4px rgb(226, 189, 174);
  }
}
