.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: space-between;
  align-content: stretch;
  width: 93%;
  padding-top: 12px;
  padding-left: 2rem;
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-content: stretch; */
    width: 70vw;
    /* height: 60vh; */
    padding-top: 10px;
    padding-left: 1rem;
    overflow-x: hidden;
    position: sticky;
  }
}

.icon-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.icon-true {
  height: 2rem;
  width: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  filter: invert(60%) sepia(33%) saturate(554%) hue-rotate(319deg)
    brightness(86%) contrast(80%);
  display: block;
  @media (max-width: 1350px) {
    height: 1.6rem;
    width: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    filter: invert(60%) sepia(33%) saturate(554%) hue-rotate(319deg)
      brightness(86%) contrast(80%);
    display: block;
  }
}
.icon-false {
  height: 2rem;
  width: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  filter: invert(38%) sepia(7%) saturate(2660%) hue-rotate(315deg);
  display: block;
  @media (max-width: 1350px) {
    height: 1.6rem;
    width: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    filter: invert(38%) sepia(7%) saturate(2660%) hue-rotate(315deg);
    display: block;
  }
}

a {
  position: relative;
}

.cw {
  left: 2rem;
  font-size: small;
  font-family: system-ui;
  color: #8c5551;
  @media (max-width: 1350px) {
    left: 2rem;
    font-size: x-small;
    font-family: system-ui;
    margin-top: 5px;
    color: #8c5551;
  }
}
