.text-container {
  width: 98%;
  font-size: medium;

  @media (max-width: 480px) {
    font-size: medium;
  }
}

h1 {
  padding-bottom: 5px;
}

input,
select,
textarea {
  color: #2c261f;
}

textarea:focus,
input:focus {
  color: #2c261f;
}

.inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  text-align: left;
}

input {
  width: 100%;
  height: 100%;
  /* resize: none; */
  padding: 12px;
  /* margin: 5px 0px 5px 5px; */
  margin-bottom: 15px;
  font-family: system-ui;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  outline-width: 1px;
  outline-style: solid;
  @media (max-width: 1350px) {
    width: 100%;
    height: 100%;
    /* resize: none; */
    padding: 10px;
    /* margin: 5px 0px 5px 5px; */
    margin-bottom: 10px;
    font-family: system-ui;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  @media (max-width: 480px) {
    font-size: medium;
    width: 95%;
    height: 100%;
    /* resize: none; */
    padding: 5px;
    /* margin: 5px 0px 5px 5px; */
    margin-bottom: 10px;
    font-family: system-ui;
    /* font-size: smaller; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
textarea {
  /* resize: none; */
  height: 150px;
  width: 100%;
  font-family: system-ui;
  padding: 10px;
  font-size: 15px;
  background-color: white;
  @media (max-width: 1350px) {
    height: 50px;
    width: 100%;
    font-family: system-ui;
    padding: 10px;
  }
  @media (max-width: 480px) {
    height: 40px;
    width: 96%;
    font-size: medium;
    margin: auto;
    font-family: system-ui;
    padding: 5px;
    text-align: left;
    color: #504333;
  }
}
.form-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  font-size: small;
}

.send {
  width: 80px;
  height: 80px;
  filter: invert(0%) sepia(45%) saturate(135%) hue-rotate(310deg)
    brightness(95%) contrast(95%);
  margin: auto;
  padding-top: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  font-size: small;
  background-color: none;
  background: none;
  outline: none;
  color: #665643;
  @media (max-width: 1350px) {
    width: 60px;
    height: 60px;
    filter: invert(0%) sepia(70%) saturate(135%) hue-rotate(305deg)
      brightness(90%) contrast(95%);
    margin: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    font-size: small;
    background-color: none;
    background: none;
    outline: none;
    color: #665643;
  }
  @media (max-width: 480px) {
    width: 60px;
    height: 60px;
    filter: invert(0%) sepia(70%) saturate(135%) hue-rotate(305deg)
      brightness(90%) contrast(95%);
    margin: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    font-size: small;
    background-color: none;
    background: none;
    outline: none;
    color: #665643;
  }
}

button.submit {
  background-color: white;
  outline: none;
}

button:focus {
  outline: none;
}
