/* Custom properties */
:root {
  --tooltip-text-color: white;
  --tooltip-background-color: #b99971;
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 6px;
  font-family: system-ui;
}

/* Wrapping */
.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.Tooltip-Tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
  opacity: 0;
  animation: fade-in-ani 0.266s forwards;
}

/* CSS border triangles */
.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(-1 * var(--tooltip-arrow-size));
}

/* Absolute positioning */
.Tooltip-Tip.top {
  top: calc(-1 * var(--tooltip-margin));
}
/* CSS border triangles */
.Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.Tooltip-Tip.right::before {
  left: calc(-1 * var(--tooltip-arrow-size));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.bottom {
  bottom: calc(-1 * var(--tooltip-margin));
}
/* CSS border triangles */
.Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.left {
  left: auto;
  right: 50px;
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.Tooltip-Tip.left::before {
  left: auto;
  right: calc(-2 * var(--tooltip-arrow-size));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.custom-column {
  bottom: 55%;
}
/* CSS border triangles */
.Tooltip-Tip.custom-column::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}
/* Absolute positioning */
.Tooltip-Tip.custom-page {
  bottom: 55%;
}
/* CSS border triangles */
.Tooltip-Tip.custom-page::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}

@keyframes fade-in-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.children {
  height: 2.2rem;
  width: 2.2rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  filter: invert(38%) sepia(7%) saturate(2660%) hue-rotate(315deg);
  display: block;
  @media (max-width: 1350px) {
    height: 1.6rem;
    width: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    filter: invert(38%) sepia(7%) saturate(2660%) hue-rotate(315deg);
    display: block;
  }
}
