#root {
  max-width: 1280px;
  padding: 0rem 2rem 0rem 2rem;
  text-align: center;
  margin: 0 auto;
  @media (max-width: 1350px) {
    padding: 0rem 2rem 0rem 2rem;
    padding-left: none;
  }
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding-left: 13px;
    padding-top: 50px;
    /* text-align: none; */
  }
}
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem 0rem 2rem;
  text-align: center;
  @media (max-width: 1350px) {
    padding: 0rem 2rem 0rem 2rem;
  }
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: "Agatta"; /*Can be any text*/
  src: local("Agatta-BWZe8"), url("./fonts/Agatta-BWZe8.ttf") format("truetype");
}

/* width */
::-webkit-scrollbar {
  display: none;
  @media (max-width: 480px) {
    width: 3px;
    background: transparent;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  @media (max-width: 480px) {
    width: 0px;
    background: transparent;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  @media (max-width: 480px) {
    width: 0px;
    background: transparent;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #817f7f;
  @media (max-width: 480px) {
    width: 0px;
    background: transparent;
  }
}
