:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(160, 142, 142, 0.87);
  background-color: #e9d1cb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @media (max-width: 480px) {
    overflow: hidden;
  }
}

::selection {
  color: #8c5551;
  background: #f3dfd9;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  @media (max-width: 480px) {
    -webkit-appearance: none;
  }
}

a {
  font-weight: 500;
  color: #8c5551;
  text-decoration: inherit;
}
a:hover {
  color: #f3dfd9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #8c5551;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #312821;
    background-color: #e9d1cb;
  }
  a:hover {
    color: #8c5551;
  }
  button {
    background-color: #f9f9f9;
  }
}
