.proj-header {
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-left: 50px;
  padding-top: 25px;
  margin-right: 50px;

  @media (max-width: 1350px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-left: 50px;
    padding-top: 25px;
    margin-right: 50px;
  }
  @media (max-width: 480px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    padding-top: 15px;
    margin-right: 50px;
  }
}

.proj {
  border: 1px solid gray;
  padding: 40px;
  border-radius: 5px;
  width: 125px;
  min-height: 125px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  @media (max-width: 1350px) {
    border: 1px solid gray;
    padding: 30px;
    border-radius: 5px;
    width: 90px;
    min-height: 85px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  @media (max-width: 480px) {
    border: none;
    padding: 2px;
    border-radius: 5px;
    width: auto;
    min-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-size: medium;
  }
}
.proj-2 {
  border: 1px solid gray;
  padding: 40px;
  border-radius: 5px;
  width: 125px;
  min-height: 125px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  /* background-image: url("../../../assets/portfolioimages/uw1.png");
  background-position-x: center;
  background-repeat: none; */
  /* background-size: 300%; */
  /* opacity: 80%; */

  @media (max-width: 1350px) {
    border: 1px solid gray;
    padding: 30px;
    border-radius: 5px;
    width: 90px;
    min-height: 85px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
}

.p-btn {
  background-color: white;
  color: #8c5551;
  outline-color: #8c5551;
  opacity: 100%;
}
