.tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  position: sticky;
  padding-left: 30px;
  max-width: 100%;
  max-height: 80%;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding-left: 0px;
  }
}

h1 {
  font-size: 13px;
  font-family: Amstselvar;
  letter-spacing: 10px;
  @media (max-width: 1350px) {
    font-size: 13px;
    font-family: Amstselvar;
    letter-spacing: 10px;
  }
}

.hover-text-true:hover {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 4;
  transition-delay: 1s;
}

.hover-text-true {
  transition-delay: 4s;
  position: static;
  line-height: 0;
  font-size: 13px;
  font-family: Amstselvar;
  letter-spacing: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
  text-align: right;
}

.content {
  /* border: 1px solid rgb(189, 189, 189); */
  padding: 25px;
  border-radius: 20px 0px 0px 20px;
  height: 60vh;
  display: block;
  background-color: white;
  position: relative;
  overflow-y: scroll;
  /* width: 100%; */
  text-align: center;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    max-width: 85vw;
    padding: 0px;
    height: 70vh;
    /* text-align: center; */
    overflow-x: hidden;
    font-size: medium;
  }
}

.page {
  height: 65vh;
  color: #665643;
  margin-top: 100px;
  @media (max-width: 1350px) {
    height: 70vh;
  }
  @media (max-width: 480px) {
    height: 100vh;
    margin-top: 85px;
  }
}
.intro {
  height: 65vh;
  padding-top: 115px;
  color: #504333;
  font-size: medium;
  @media (max-width: 1350px) {
    height: 40vh;
    padding-top: 90px;
  }
  @media (max-width: 480px) {
    height: 100vh;
    padding-top: 30px;
    font-size: medium;
    padding-bottom: 5px;
  }
}
.intro h2 {
  font-family: system-ui;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: xx-large;
  color: #8c5551;
  @media (max-width: 1350px) {
    font-family: system-ui;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: x-large;
    color: #8c5551;
  }
  @media (max-width: 480px) {
    font-size: large;
  }
}

a,
a:link,
a:visited {
  color: #8c5551;
}

a,
a:hover {
  color: #f3d5cc;
}

.btn-2 {
  color: #665643;
}
.btn-3 {
  color: #665643;
}
.btn-4 {
  color: #665643;
}
.btn-5 {
  color: #665643;
}

p {
  margin-top: 5px;
}

button {
  color: #e6bdb1;
  font-size: medium;
  background-color: white;
}

/* Tab Navigation */
ul.tab-bar {
  /* width: 50%; */
  /* position: sticky; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0;
  @media (max-width: 480px) {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
  }
}

ul.tab-bar li {
  position: sticky;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5em;
  margin: 10px;
  width: 5%;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  font-size: 14px;
  letter-spacing: 0.15rem;
  font-family: Amstelvar;
}
ul.tab-bar li:nth-child(2) {
  position: sticky;
}
ul.tab-bar li:hover {
  background: #e5f8ed;
  position: sticky;
}
ul.tab-bar li.active {
  position: sticky;
  background: #f2d9d2;
  letter-spacing: 0.22rem;
}
